*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 10px ;
    background-image: url('./assets/p3.jpg');
    background-size: cover;
}
.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 150px;
    height: 70px;
}
nav ul li{
    color: white;
    list-style: none;
    font-weight: 600;
    display: inline-block;
    border: 2px solid white;
    padding: 10px 20px;
    margin-left: 30px; 
}
nav ul li a{
    text-decoration: none;
    font-size: 60px;
    

}
nav ul li:hover{
    color: black;
}
.content {
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition: .5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(60, 55, 55);
    font-size: 20px;
    font-weight: 800;
    border: 2px solid rgb(60, 55, 55) ;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
